<!-- heading area -->
	<section id="heading-section" class="jumbotron text-center">
		<div class="container">
			<h1 id="heading-title" class="jumbotron-heading supreme_font">Admin</h1>
		</div>
	</section>

	<!-- Board Update Area-->
	<div class="well-lg">
		<div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 viewSetBtn">
			<strong>Add User</strong>
			<div class="btn-group">
				<a href="/au" id="add_user" class="btn btn-default btn-sm">
					<span class="glyphicon glyphicon-plus"></span>
				</a> 
			</div>
		</div>
		<div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 viewSetBtn">
			<p>&nbsp;</p>
		</div>
		<div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 viewSetBtn">
			<strong>Add Board</strong>
			<div class="btn-group">
				<a href="/ab" id="add_board" class="btn btn-default btn-sm">
					<span class="glyphicon glyphicon-plus"></span>
				</a>
			</div>
		</div>
	</div>

