
<!-- single sound album template -->
<div id="exampleAlbum_<?= $index + 1 ?>" class="col-sm-4 col-sm-4 col-md-4 col-lg-4">
    <div id="exmapleCover_<?= $index + 1 ?>" class = "thumbnail">
        <img class="album_img" id="example_img_<?= $index + 1 ?>" src="/<?= $imgPath ?>" alt="exmaple public albums">
        <a class="link" href="<?= $boardUrl ?>"><img id="cover_img_<?= $index + 1 ?>" src="/img/open.svg" alt="enter img" ></a>
        <div class="caption">
            <div class="board-name">
                <h2 id="boardname_<?= $index + 1 ?>"><img class="author-pic" src="/img/album.svg" alt="exmaple public albums"><?= $boardTitle ?></h2>
            </div>
                <a href="<?= $modifyUrl ?>"><button type="button" class="btn btn-priry"id="actionBtn">Modify</button></a>
                <a href="<?= $deleteUrl ?>"><button type="button" class="btn btn-priry"id="actionBtn">Delete</button></a>
        </div>
    </div>
    <div id="board_id_<?= $index ?>" style="display: none"><?= $boardId ?></div>
</div>
