<!-- Navigation Bar area -->
<nav class="navbar navbar-inverse navbar-fixed-top navbar-dark bg-dark">
    <div class="container">
        <a href="/mp/0"><h3 class="navbar-brand supreme_font">SoundBoard Ninja&trade;</h3></a>
        <div class="navbar-right">
            <div id="sign_area" >
                <button id="signinBtn" type="button" class="btn btn-primary">Sign In</button>
                <button id="signupBtn" type="button" class="btn btn-success">Sign Up</button>
            </div>
        </div>
    </div>
</nav>